@media screen and (max-width: 767px) {

	.slider-container {
		grid-template-areas:
			'content'
			'control'
			'description';
	}

	.navigation {
		justify-content: center;
	}


	.slide-caption .slide {
		text-align: center;
	}
}