.wrapper, 
    .slides .slide,
    .slide-caption .slide {
        width: 40vw;
    }

.wrapper {
	background: #4a4848;
	padding: 20px;
	margin: 0 auto;
	border-radius: 10px;
}

.slider-container {
	overflow: hidden;
	display: grid;
	grid-template-areas:
		'content content'
		'description control';
}

.slider-container input {
	display: none;
}

.slider-wrapper {
	grid-area: content;
	overflow: hidden;
	display: flex;
}

.slides {
	display: flex;
	transition: transform 1s ease;
}

.slides .slide {
	display: inline-block;
	border-radius: 1rem;
}

.slides .slide img {
	width: 100%;
	border-radius: 10px;
}


.slider-bottom {
	overflow: hidden;
	display: flex;
}

.slide-caption {
	display: flex;
	transition: transform 1s ease;
	font-size: 1.3em;
	color: #fff;
}

.slide-caption .slide {
	display: inline-block;
	height: 100%;
	padding-right: 11rem;
}

.navigation {
	display: flex;
	align-items: center;
}

.navigation label {
	display: inline-block;
	width: 1rem;
	height: 1rem;
	margin: 5px;
	background-color: #ffffff;
	border-radius: 50%;
	transition: background-color 0.6s ease;
	cursor: pointer;
}

.navigation label:hover {
	background-color: #b3b3b3;
}

#slide1:checked~.slider-wrapper .slides,
#slide1:checked~.slider-bottom .slide-caption {
	transform: translateX(0);
}

#slide2:checked~.slider-wrapper .slides,
#slide2:checked~.slider-bottom .slide-caption {
	transform: translateX(-25%);
}

#slide3:checked~.slider-wrapper .slides,
#slide3:checked~.slider-bottom .slide-caption {
	transform: translateX(-50%);
}

#slide4:checked~.slider-wrapper .slides,
#slide4:checked~.slider-bottom .slide-caption {
	transform: translateX(-75%);
}

#slide1:checked~.navigation #label-slide1 {
	background-color: #b3b3b3;
}

#slide2:checked~.navigation #label-slide2 {
	background-color: #b3b3b3;
}

#slide3:checked~.navigation #label-slide3 {
	background-color: #b3b3b3;
}

#slide4:checked~.navigation #label-slide4 {
	background-color: #b3b3b3;
}